@page
@model CSPharma_FinalVersion.Pages.VistasEmpleado.ViewEmpleadoModel

@{
    ViewData["Title"] = "ViewEmpleado";
}

<h1>ViewEmpleado</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DlkCatAccEmpleado[0].MdUuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DlkCatAccEmpleado[0].MdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DlkCatAccEmpleado[0].CodEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DlkCatAccEmpleado[0].ClaveEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DlkCatAccEmpleado[0].NivelAcceso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DlkCatAccEmpleado) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MdUuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaveEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelAcceso)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
