@page
@model CSPharma_FinalVersion.Pages.VistasEstadoDevolucion.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TdcCatEstadosDevolucionPedido[0].CodEstadoDevolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcCatEstadosDevolucionPedido[0].DesEstadoDevolucion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TdcCatEstadosDevolucionPedido) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesEstadoDevolucion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
